:root {
    --primary-color: rgb(121, 119, 245);
    --primary-color-shadow: rgba(103, 101, 228, 0.3);
    --primary-color-darker: rgb(50, 49, 110);
    --secondary-color: rgb(103, 101, 228);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: var(--primary-color);
    padding: 30px;

    .header-title {
        display: inline-block;
        color: #ffffff;
        margin: 0;
        margin-left: 10px;
    }
    .header-logo {
        img {
            filter: invert(100%);
        }
    }
}

nav {
    width: 100%;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;

    .nav-list{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        .nav-list_item, .nav-list_item .link{
            color: white;
            padding: 12px 0px;
        }
    }
}

main {
    min-height: 90vh;
    padding: 30px;
    font-size: 1.1em;

    section {
        margin-top: 10px;
        margin-bottom: 40px;
        article {
            margin-bottom: 20px;
            h3, .article-title {
                margin: 6px 0;
            }
        }
    }

    .paginacao {
        h2, .article-title {
            margin: 12px 0;
            width: 100%;
            background-color: var(--primary-color-shadow);
            padding: 20px 30px;
            border-radius: 4px;
        }
        p, .text {
            text-indent: 40px;
            text-align: justify;
        }
    }

    .galeria {
        width: 100%;
        gap: 20px;

        .galeria-imagem {
            width: 100%;
            height: auto;
            border: none;
            border-radius: 4px;
            background-color: var(--primary-color-shadow);
            margin-bottom: 14px;
        }

        .floating-painel {
            background: var(--secondary-color);
            backdrop-filter: blur(5px);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 30px;

            .floating-painel-image {
                // min-width: 80vw;
                max-width: 100%;
                max-height: 100%;
            }

            .prev, .next {
                width: 30px;
                height: 100%;
                // margin: 0 30px;
                font-size: 20pt;
                font-weight: bolder;
                color: #ffffff;
                background: var(--primary-color);
                border: none;
            }
            .prev {
                margin-right: 30px;
            }
            .next {
                margin-left: 30px;
            }
        }
    }
}

footer {
    padding: 12px 20px;
    font-size: 12pt;
    font-family: monospace;
    background-color: var(--primary-color-shadow);
}

@media screen and (min-width: 1024px) {
    .galeria {
        // background-color: yellow;
        gap: 12px 0px;
        column-count: 4;

        .floating-painel {
            padding: 80px;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .galeria {
        column-count: 2;
        // background-color: green;
    }
}
@media screen and (max-width: 767px){
    .galeria {
        column-count: 1;
        // background-color: blue;
    }

}